<div class="empty">
  <h2 class="gutter-top theme">{{ 'cart.general.title' | t }}</h2>
  <p class="gutter-bottom">{{ 'cart.general.empty' | t }}</p>
  <a href="{{ routes.collections_url }}" class="btn btn--large btn--secondary">{{ 'cart.general.continue_shopping' | t }}</a>
</div>